In [2]:
import pandas as pd

file1 = "population-1800-2021.csv"
file2 = "annualCo2Emissions.csv"
df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)

In [3]:
# merge the two dataframes
df = pd.merge(df1, df2, on='Year', how='inner')

In [4]:
df

     Year  Population  Annual CO₂ emissions  Total CO₂ emissions
0    1800   985340629          3.279835e+07         3.279835e+07
1    1801   987628322          3.198605e+07         6.478440e+07
2    1802   991098738          4.031048e+07         1.050949e+08
3    1803   994610260          2.953851e+07         1.346334e+08
4    1804   998163240          3.176918e+07         1.664026e+08
..    ...         ...                   ...                  ...
217  2017  7599822336          3.602546e+10         1.589327e+12
218  2018  7683789824          3.676694e+10         1.626094e+12
219  2019  7764951040          3.704010e+10         1.663134e+12
220  2020  7840952832          3.500774e+10         1.698142e+12
221  2021  7909295104          3.681654e+10         1.734959e+12

[222 rows x 4 columns]

In [11]:
# save the merged dataframe to a new csv file
df.to_csv('population_co2.csv', index=False)

In [5]:
# create a new column for the population increase every year
df['Population Increase'] = df['Population'].diff()

In [6]:
df

,Year,Population,Annual CO₂ emissions,Total CO₂ emissions,Population Increase
0,1800,985340629,3.279835e+07,3.279835e+07,NaN
1,1801,987628322,3.198605e+07,6.478440e+07,2287693.0
2,1802,991098738,4.031048e+07,1.050949e+08,3470416.0
3,1803,994610260,2.953851e+07,1.346334e+08,3511522.0
4,1804,998163240,3.176918e+07,1.664026e+08,3552980.0
...,...,...,...,...,...
217,2017,7599822336,3.602546e+10,1.589327e+12,86348288.0
218,2018,7683789824,3.676694e+10,1.626094e+12,83967488.0
219,2019,7764951040,3.704010e+10,1.663134e+12,81161216.0
220,2020,7840952832,3.500774e+10,1.698142e+12,76001792.0
221,2021,7909295104,3.681654e+10,1.734959e+12,68342272.0

In [7]:
# remove the first row since it has a NaN value
df = df.dropna()

In [8]:
df

,Year,Population,Annual CO₂ emissions,Total CO₂ emissions,Population Increase
1,1801,987628322,3.198605e+07,6.478440e+07,2287693.0
2,1802,991098738,4.031048e+07,1.050949e+08,3470416.0
3,1803,994610260,2.953851e+07,1.346334e+08,3511522.0
4,1804,998163240,3.176918e+07,1.664026e+08,3552980.0
5,1805,1001758044,3.125182e+07,1.976544e+08,3594804.0
...,...,...,...,...,...
217,2017,7599822336,3.602546e+10,1.589327e+12,86348288.0
218,2018,7683789824,3.676694e+10,1.626094e+12,83967488.0
219,2019,7764951040,3.704010e+10,1.663134e+12,81161216.0
220,2020,7840952832,3.500774e+10,1.698142e+12,76001792.0
221,2021,7909295104,3.681654e+10,1.734959e+12,68342272.0

In [9]:
df1 = df[['Year', 'Population Increase']]
df2 = df[['Population', 'Total CO₂ emissions']]

In [10]:
df1.to_csv('population_increase_yearly.csv', index=False)

In [15]:
df2.to_csv('population_vs_total_co2.csv', index=False)