In [20]:
import pandas as pd

file = "historical.csv"
df = pd.read_csv(file)

populationGrowth = pd.DataFrame(columns=["Population Growth", "Annual CO₂ emissions"])
totalCO2Emissions = pd.DataFrame(columns=["Population", "Total CO₂ emissions"])

In [21]:
# make the population column increasing of each other, and the CO2 emissions column the same
# then put them in the populationGrowth dataframe
# USING PANDAS 2, you cant use .append() because it is deprecated

for i in range(1, len(df)):
    populationGrowth.loc[i-1] = [df["Population"][i] - df["Population"][i-1], df["Annual CO₂ emissions"][i]]

In [22]:
populationGrowth

    Population Growth  Annual CO₂ emissions
0          43808400.0          6.381406e+09
1          47140600.0          6.467437e+09
2          50007800.0          6.650862e+09
3          51700500.0          6.789497e+09
4          54092700.0          7.443861e+09
..                ...                   ...
65         86876600.0          3.546003e+10
66         86348300.0          3.602546e+10
67         83967700.0          3.676694e+10
68         81161000.0          3.704010e+10
69         76002000.0          3.500774e+10

[70 rows x 2 columns]

In [23]:
totalCO2EmissionsNum = df["Annual CO₂ emissions"][0]
totalCO2Emissions.loc[0] = [df["Population"][0], totalCO2EmissionsNum]
for i in range(1, len(df)):
    totalCO2Emissions.loc[i] = [df["Population"][i], totalCO2EmissionsNum + df["Annual CO₂ emissions"][i]]
    totalCO2EmissionsNum += df["Annual CO₂ emissions"][i]

In [25]:
# remove the first row of the dataframe
totalCO2Emissions = totalCO2Emissions.drop(0)

In [26]:
totalCO2Emissions

      Population  Total CO₂ emissions
1   2.543130e+09         1.231075e+10
2   2.590271e+09         1.877818e+10
3   2.640279e+09         2.542905e+10
4   2.691979e+09         3.221854e+10
5   2.746072e+09         3.966240e+10
..           ...                  ...
66  7.513474e+09         1.329221e+12
67  7.599822e+09         1.365246e+12
68  7.683790e+09         1.402013e+12
69  7.764951e+09         1.439053e+12
70  7.840953e+09         1.474061e+12

[70 rows x 2 columns]

In [27]:
# dump the dataframes into csv files
populationGrowth.to_csv("populationGrowth.csv", index=False)
totalCO2Emissions.to_csv("totalCO2Emissions.csv", index=False)