In [20]:
import pandas as pd
import numpy as np

In [21]:
population = pd.read_csv('population_increase_yearly.csv')
energy = pd.read_csv('global-primary-energy(fossil&renewable).csv').drop(columns=['Code', 'Entity'])

In [22]:
totalEnergy = energy.drop(columns=['Total Renewable (TWh, direct energy)', 'Total Fossil Fuel (TWh,direction energy)'])

In [24]:
totalEnergy

,Year,"Other renewables (TWh, direct energy)","Solar (TWh, direct energy)","Wind (TWh, direct energy)","Hydropower (TWh, direct energy)"
0,1800,0.00000,0.00000,0.0000,0.0000
1,1810,0.00000,0.00000,0.0000,0.0000
2,1820,0.00000,0.00000,0.0000,0.0000
3,1830,0.00000,0.00000,0.0000,0.0000
4,1840,0.00000,0.00000,0.0000,0.0000
...,...,...,...,...,...
70,2018,636.21330,575.76025,1269.5287,4189.7570
71,2019,667.61945,705.22516,1420.6240,4243.2876
72,2020,702.98230,854.37476,1593.9530,4359.0120
73,2021,751.17690,1059.29370,1854.1052,4288.7830
74,2022,776.85657,1322.61570,2104.8396,4334.1900

In [27]:
# merge the two dataframes on the "Year" column
merged = pd.merge(population, totalEnergy, on='Year')

In [28]:
merged

,Year,Population Increase,"Other renewables (TWh, direct energy)","Solar (TWh, direct energy)","Wind (TWh, direct energy)","Hydropower (TWh, direct energy)"
0,1810,6065826.0,0.00000,0.00000,0.0000,0.0000
1,1820,8666988.0,0.00000,0.00000,0.0000,0.0000
2,1830,7720839.0,0.00000,0.00000,0.0000,0.0000
3,1840,6492183.0,0.00000,0.00000,0.0000,0.0000
4,1850,5415443.0,0.00000,0.00000,0.0000,0.0000
...,...,...,...,...,...,...
68,2017,86348288.0,588.78033,445.47995,1141.5242,4071.2231
69,2018,83967488.0,636.21330,575.76025,1269.5287,4189.7570
70,2019,81161216.0,667.61945,705.22516,1420.6240,4243.2876
71,2020,76001792.0,702.98230,854.37476,1593.9530,4359.0120
72,2021,68342272.0,751.17690,1059.29370,1854.1052,4288.7830

In [29]:
merged = merged.drop(columns=['Year'])

In [30]:
merged

,Population Increase,"Other renewables (TWh, direct energy)","Solar (TWh, direct energy)","Wind (TWh, direct energy)","Hydropower (TWh, direct energy)"
0,6065826.0,0.00000,0.00000,0.0000,0.0000
1,8666988.0,0.00000,0.00000,0.0000,0.0000
2,7720839.0,0.00000,0.00000,0.0000,0.0000
3,6492183.0,0.00000,0.00000,0.0000,0.0000
4,5415443.0,0.00000,0.00000,0.0000,0.0000
...,...,...,...,...,...
68,86348288.0,588.78033,445.47995,1141.5242,4071.2231
69,83967488.0,636.21330,575.76025,1269.5287,4189.7570
70,81161216.0,667.61945,705.22516,1420.6240,4243.2876
71,76001792.0,702.98230,854.37476,1593.9530,4359.0120
72,68342272.0,751.17690,1059.29370,1854.1052,4288.7830

In [31]:
merged = merged[merged['Hydropower (TWh, direct energy)'] > 0]

In [32]:
merged

,Population Increase,"Other renewables (TWh, direct energy)","Solar (TWh, direct energy)","Wind (TWh, direct energy)","Hydropower (TWh, direct energy)"
8,12295431.0,0.00000,0.00000,0.0000,14.0000
9,13774011.0,0.00000,0.00000,0.0000,17.0000
10,15724988.0,0.00000,0.00000,0.0000,33.0000
11,17031792.0,0.00000,0.00000,0.0000,64.0000
12,22082664.0,0.00000,0.00000,0.0000,131.0000
...,...,...,...,...,...
68,86348288.0,588.78033,445.47995,1141.5242,4071.2231
69,83967488.0,636.21330,575.76025,1269.5287,4189.7570
70,81161216.0,667.61945,705.22516,1420.6240,4243.2876
71,76001792.0,702.98230,854.37476,1593.9530,4359.0120
72,68342272.0,751.17690,1059.29370,1854.1052,4288.7830

In [30]:
population

       Year  Population (historical estimates)
57130  1800                          985340629
57131  1801                          987628322
57132  1802                          991098738
57133  1803                          994610260
57134  1804                          998163240
...     ...                                ...
57347  2017                         7599822336
57348  2018                         7683789824
57349  2019                         7764951040
57350  2020                         7840952832
57351  2021                         7909295104

[222 rows x 2 columns]

In [33]:
# dump the deltaChanges dataframe to a CSV file, excluding the year index
# merged = merged.drop(columns=['Year'])
# convert all data columns to integers

merged.to_csv('population_increase_vs_renewable_energies.csv', index=False)